@model Earlyone.Models.Teacher

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.FistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a>

            </td>
        </tr>
    </tbody>
</table>
